.reveal p {
    font-family: Arial;
    font-weight: 300;
}
.reveal ul {
    font-family: Arial;
    font-weight: 300;
    display: block;
    margin-bottom: 0.2em;
}
.reveal ol {
    font-family: Arial;
    font-weight: 300;
    display: block;
    margin-bottom: 0.2em;
}