.reveal section p {
    font-family: Arial;
    font-weight: 300;
    font-size: 0.85em;
    line-height: 1.2em;
}
.reveal section li {
    font-family: Arial;
    font-weight: 300;
    font-size: 0.85em;
    line-height: 1.2em;
    float: left;
    text-align: left;
}